<div id="banner" class="podcasts_banner">
    <h1>About Mulberry Sound</h1>
</div>
    <div class="wrapper_skinny">
        <p>2 Samuel 5:22-25 <br>
        And the Philistines came up yet again, and spread themselves in the valley of Rephaim.
        And when David enquired of the Lord, he said, Thou shalt not go up; but fetch a compass behind them, and come upon them over against the mulberry trees.
        And let it be, when thou hearest the sound of a going in the tops of the mulberry trees, that then thou shalt bestir thyself: for then shall the Lord go out before thee, to smite the host of the Philistines.
        And David did so, as the Lord had commanded him; and smote the Philistines from Geba until thou come to Gazer.</p>
    </div>
    <div class="container">
        <p>We are Mulberry Sound</p>
    </div>