<div id="banner" class="podcasts_banner">
    <h1>About Mulberry Sound</h1>
</div>
<div class="wrapper_skinny">
    
    <h4>Why Mulberry Sound?</h4>
    
    <br>
    
    <h5>(2 Samuel 5:22-25)</h5>
        
    <p>  And the Philistines came up yet again, and spread themselves in the valley of Rephaim.
    And when David enquired of the Lord, he said, Thou shalt not go up; but fetch a compass behind them, and come upon them over against the mulberry trees.
    And let it be, when thou hearest the sound of a going in the tops of the mulberry trees, that then thou shalt bestir thyself: for then shall the Lord go out before thee, to smite the host of the Philistines.
    And David did so, as the Lord had commanded him; and smote the Philistines from Geba until thou come to Gazer.</p><br>
    
    <h4>The Band</h4>
    
    <div class="julia-image">
        <%= image_tag 'julia.JPG', width: 175, class: "julia-image" %>
    </div>
    <div class="morales-image">
        <%= image_tag 'mark-tabby.png', width: 130, class: 'morales-image' %>
    </div>
    <div class="band-list">
        <h3>Julia Valentine- Harp/Vox</h3>
        <h3>Tabitha Morales- Guitar/Cello/Vox</h3>
        <h3>Mark Morales- Piano/Ukulele/Mandolin/Vox</h3>
        <br>
        <div class="band-description">
            <p>We've been playing/writing our music for awhile and now it's time to share. Our music is for the edification of the church.
            We hope to meet the needs for people and glorify our Lord and Savior Jesus Christ.</p><br>
            <p> Let us know if you'd like us to come play at your church/event/wedding/etc...</p>
        </div>
    </div>
            
    <h4>Contact us </h4>
    <h4>
        <i class="fa fa-envelope-o fa-fw"></i><a href="mailto:mulberrysounds@gmail.com">mulberrysounds@gmail.com</a></li>
    </h4>
</div>

    
<%= render 'shared/application_footer' %>