<div id="background">
    <header class="cf">
        <div class="wrapper_wide">
            <a href="index.html" id="logo">Mulberry Sound</a>
            <nav>
                <ul>
                    <li><a href="podcasts.html">Explore</a></li>
                    <li><a href="sign-in.html">Sign in</a></li>
                    <li><a href="sign-up.html">Sign up</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="wrapper_skinny">
        <h1>For where two or three are gathered together in my name, there am I in the midst of them. </h1>
        <%= link_to "Sign up", "#", class="button button_highlight" %>
        <%= link_to "Explore", "#", class="button button_white" %>
    </div>
</div>
