<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
        <a href="#" id="logo">Mulberry Sound</a>
        <nav>
            <ul>
                <li><%= link_to "Explore", podcasts_path %></li>
                <li><%= link_to "About Us", about_path %></li>
            </ul>
        </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>For where two or three are gathered together in my name, there am I in the midst of them. </h1>
    <%= link_to "Explore", podcasts_path, class: "button button_highlight" %>
  </div>
</end>

